{% extends 'blog/base.html' %}


{% block content %}
<style>
     @media screen and (min-width:775px) {
        .thumbnail-wrapper{
            height: 400px;
        }
    } 
</style>

<br>
<div class="container-fluid" style="width:98% ;">
    <div class="row">
        <div class="col-lg-1">
            <div class="position-fixed">
                ++ ++ ++
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card" style="margin-bottom: 0.3cm;">

                <div  class="thumbnail-wrapper">  
                    
                    <img  class="card-img-top" src="{{article.thumbnail.url}}">
                    
                </div>

                <div class="card-text" style="margin-left:0.5cm;margin-right: 0.5cm;">  
                    <h3 style="font-weight: 600;">{{article.title}}</h3>
                    <h5 style="color: rgb(58, 58, 58);"> {{article.subtitle}} </h5>
                    <h6 style="font-style:oblique;color:gray;margin-bottom: 0cm;">{{article.date_posted|date:"d M Y"}}</h6>
                    <center><h3 style="color: rgb(162, 162, 162);margin: 0cm;"><strong>. . .</strong></h3></center>
                    <div style="margin-top: 0cm;font-family:monospace;">{{article.body.html|safe}}  </div>
                </div>
                
            </div>
        </div>

        <div class="col-lg-3 ">
            <div class="position-fixed">  
                <h5 style="color: rgb(76, 76, 76);"><strong>Next Read</strong></h5> 
                {% for i in articles %}
                <div class="card card-body" style="margin-bottom: 0.3cm;"> 
                    <a style="text-decoration: none;" href="{% url 'blog:read_article' i.id %}">  
                        <h5 style="color: rgb(45, 45, 45);"> <strong> {{i.title}} </strong> </h5> 
                            <h6 style="color: rgb(57, 57, 57);"> {{i.subtitle}}</h6>
                        <h6 style="color: rgb(91, 90, 90);font-style:oblique;font-size: 0.8rem;"> {{i.date_posted|date:"d M Y"}}</h6> 
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    
</div>

{% endblock content %}