{% extends 'blog/base.html' %}


{% block content %}

<style>
    @media screen and (max-width:775px) {
        .thumbnail-wrapper{
            height: 200px;
        }
    } 
    .card-text a{
        text-decoration: none;
        
    }
    @media  screen and (min-width:900px) {
        .container-fluid{
            width:90%;
        }
    }
    @media screen and (min-width:776px) {
        .thumbnail-wrapper{
            height: 180px;
        }
    }
    @media screen and (min-width:776px) {
        .tournament-wrapper{
            padding-left: 140px;
        }
    }



    .articles{
        background-color: white;
        margin-bottom: 1cm;
    }
    .tournaments{
        background-color: rgb(224, 224, 224);
    }
   


</style>


<style>
    .tournament-thumbnail img {
        position: relative;
        left: 50%;
        top: 50%;
    
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
     }
     @media screen and (max-width:450px) {
        #title{
            font-size: 1.1rem;
        }
         #date{
             font-size: 0.9rem;
         }
     }

</style>


<div class="container-fluid">
    <section class="articles">  
        <br>
    <h4 style="font-weight: 400;color:#1E2A3B">Recent Articles</h4>
    <div class="row">
        {% for article in articles %}
        <div class="col-12 col-md-4">

                <div class="card" style="margin-bottom: 0.3cm;box-shadow: 0 0 3px #1E2A3B;">

                    <div  class="thumbnail-wrapper">  
                        <a href="{% url 'blog:read_article' article.id %}">
                             <img  class="card-img-top" src="{{article.thumbnail.url}}">
                        </a>
                    </div>
                    <div class="card-text" style="margin-left:0.4cm; height: 5cm; ">  
                        <a href="{% url 'blog:read_article' article.id %}"> <h3 style="font-weight: 600;color:#18212f ;margin: 0cm;">{{article.title}}</h3> </a>
                        <a href="{% url 'blog:read_article' article.id %}"><h5 style="color: #31435b;margin-top: 0cm; "> {{article.subtitle}} </h5> </a> 
                        <h6 style="font-style:oblique;color:gray">{{article.date_posted|date:"d M Y"}}</h6>
                    </div>
                    
                </div>
                
           
        </div>

        {% endfor %}
    </div>
<div class="container col-12"> 
    <div class="pagination">
        <span class="step-links">

            {% if articles.has_previous %}
              
                <a style="text-decoration: none;" class="position-relative " href="?page={{ articles.previous_page_number }}"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                      </svg> previous
                    </a>

            {% else %}    
                <a href="#" class="position-relative " style="color: gray;text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                      </svg> previous</a>
            {% endif %}

            <span class="position-relative " style="font-weight: 600; margin-left: 1cm; margin-right: 1cm;">
                 {{ articles.number }} of {{ articles.paginator.num_pages }} 
            </span>    

            {% if articles.has_next %}
                <a style="text-decoration: none;"class="position-relative " href="?page={{ articles.next_page_number }}">
                    next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg></a>

            {% else %}    
            <a style="color: gray;text-decoration: none;" class="position-relative " href="#">
                next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg></a>

            {% endif %}

        </span>
    </div>
</div>
        
</section>

</div>

<!-- ########################################### The tournament section ###########################################-->

<section class="tournaments">
    <div class="container-fluid " style="width:95% ;">  
        <br>
    <div class="tournament-wrapper">  
        <h4 style="font-weight: 500;color:#18212f"> Recent Tournaments </h4> 
        {% for tournament in tournaments %}
        <div class="col-12 col-md-10">
            <div class="row">

                <div class="card card-body" style="margin-bottom: 0.3cm;border-radius: 15px;">
                    <div class="row">
                        <div class="tournament-thumbnail col-3 col-sm-2">
                            <img class="img-thumbnail" src="{{tournament.thumbnail_t.url}}">
                        </div>
                        <div class="col-9 col-sm-10">
                            <h4 id="title" style="font-weight: 600;margin-bottom: 0.1cm;">{{tournament.name}}</h4>
                                
                            <h6 id="date" style="color: rgb(66, 66, 66);margin-bottom: 0cm;font-size: 1.09rem;"> taking place from {{tournament.starts}} to {{tournament.ends}}</h6>  
                            <a style="margin-top: 0.1cm;" href="{% url 'blog:tournament_details' tournament.id %}"> view</a>
                            
                            
                            <h6 style="color: gray;font-size: 0.9rem"> posted on {{tournament.date_posted|date:"d M Y"}}</h6>
                            
                        </div>
                    </div>
                

                </div>

            </div>
        </div>
    

        {% endfor %}
        
    </div>
    <center>  
        <a href="{% url 'blog:tournaments' %}" class="btn btn-primary btn-sm">See More</a>
    </center>
    </div>
</section> 
<!--  ###################################  END Tournament Section ####################################################-->
{% endblock content %}

<!-- <a href="?page=1">&laquo; first</a>  --> 
<!-- <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a> -->
