<!DOCTYPE html>

<html lang="en">
    <head>
        {% load static %} 
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mzansi Chess</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    </head>
    <style>
  
        #logo img{
          margin-left: 0.4cm;
          width:50px;
        }
    
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a id="logo"  class="navbar-brand d-flex" href="{% url 'blog:blog' %}" style="margin-left: 0.5cm;">
            <img  src="{% static 'images/logo.png' %}" alt="mzansi chess,south africa chess and tournaments">  
            <!-- <h5> <strong>Mzansi </strong> </h6><h5 style="color: #f97f00"><strong>Chess</strong> </h5> -->
            </a>
     
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'blog:blog' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:tournaments' %}">Tournaments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:ratings' %}">Ratings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Resources</a>
            </li>
          </ul>
          <span style="margin-right: 3rem;" class="navbar-text">
            <a id="login-btn" class="btn rounded-pill btn-sm" href="#"> 
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg> 
              sign in
             </a>
          </span>
        </div>
      </div>
    </nav>

    <body>
        {% block content %} 
        
        {% endblock content %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>

<!--  
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation" style="box-shadow: 0 0 2px rgb(172, 172, 247);">

   

  <div style="color:  rgb(251, 143, 1);" class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
  
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg> 
  
  </div>
  
    
  <a id="logo"  class="navbar-brand d-flex" href="{% url 'blog:blog' %}" style="margin-left: 0.5cm;">
    <img  src="{% static 'img/logo.png' %}" alt="logo"><h5> <strong>Mzansi </strong> </h6><h5 style="color: #f97f00"><strong>Chess</strong> </h5>
    </a>
    
  
  <div class="container">  
  
 
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
         
    <ul class="navbar-nav ml-auto">
      {% if request.path == blog_path %}
      <li class="nav-item border-bottom border-2 border-warning">
        <a style="color: #f97f00;font-weight:bold;font-size:1rem" class="nav-link" href="{% url 'blog:blog' %}">Home</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:blog' %}">Home</a>
      </li>
      {% endif %}
  
      {% if request.path == ratings_path %}
      <li class="nav-item  border-bottom border-2 border-warning">
      <a style="color: #f97f00;font-weight:bold;font-size:1rem" class="nav-link" href="{% url 'blog:ratings' %}">Ratings</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:ratings' %}">Ratings</a>
      </li>
      {% endif %}
  
      {% if request.path == tournaments_path %}
      <li class="nav-item border-bottom border-2 border-warning">
      <a style="color: #f97f00;font-weight:bold;font-size:1rem" class="nav-link" href="{% url 'blog:tournaments' %}">Tournaments</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:tournaments' %}">Tournaments</a>
        </li>
        {% endif %}
      <li class="nav-item">
      <a class="nav-link" href="#">Resources</a>
      </li>
      
      <li class="nav-item">
        {% if user.is_anonymous %}
        <div class="d-flex">
          <a href="{% url 'users:login' %}" class="nav-link"> <button class=" btn btn-sm" style="background-color:#2162fa;border-radius: 10px;color: white;font-size:0.8rem;border: 1px rgb(7, 2, 255) solid ">Login</button></a>
        </div>
  
     {% else %}  
        <div class="d-flex">
        <a href="{% url 'users:logout' %}" class="nav-link"> 
          <button class=" btn btn-sm" style="background-color:#b3b1b1;border-radius: 10px;color: white;border: 1px rgb(71, 71, 71) solid;font-size:0.8rem ;">Logout</button>
        </a>
        </div> 
     {% endif %}
  
        </li>
  
  
      
    </ul>
  
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
    </form>
  
  </div>
  
     
  </div>
     
  </nav>  -->
