{% extends 'blog/base.html' %}


{% block content %}

<style>
    .wrap{
        height: 400px;
        overflow: hidden;
    }
    .wrap img {
        position: relative;
        left: 50%;
        top: 50%;
    
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
     }
</style>


<style>
    @media screen and (max-width:360px){
        .wrap{
            height: 150px;
            overflow: hidden;
        }
        
    }
    @media screen and (min-width:361px){
        .wrap{
            height: 200px;
            overflow: hidden;
        }
        
    }
    @media screen and (min-width:520px){
        .wrap{
            height: 300px;
            overflow: hidden;
        }
        
    }
    @media screen and (min-width:860px){
        .wrap{
            height: 400px;
            overflow: hidden;
        }
        
    }



</style>









<br>
<div class="container-fluid" style="width: 98%;">
    <div class="row">

        <div class="col-lg-7">
            <div class="card" style="margin-bottom: 0.4cm;">
                
                <div class="wrap">
                    <img class="card-img-top" src="{{tournament.thumbnail_t.url}}">
                </div>
                <div class="card-body">
                    <h3>{{tournament.name}}</h3>
                    <h5>{{tournament.description.html|safe}}</h5>
                </div>
             
            </div>
        </div>
        
        <div class="col-lg-5">
            <h4>  
             <strong>Other tournaments</strong>
            </h4>
            {% for i in other_tournaments %}
            <div class="card" style="margin-bottom:0.3cm">  
            <div class="d-flex align-items-center">
        
                <img  height="100" width="100" src="{{tournament.thumbnail_t.url}}">
        
                <div class="pl-3">
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{% url 'blog:tournament_details' tournament.id %}">{{i.name}}</a>
                    </h2>
                    <div class="card-text text-muted">
                        <h6>  Starts {{i.starts}}, ends {{i.ends}}</h6>
                    </div>
                    <a style="margin-top: 0.1cm;" href="{% url 'blog:tournament_details' tournament.id %}"> view</a>
                </div>
        
            </div>
        </div>
            {% endfor %}    
        </div>

    </div>

</div>

{% endblock content %}