{% extends 'blog/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block content %}

<div class="container">  
<br>
<div class="d-flex justify-content-center">  
    
<div class="col-md-7" >
    <h4 style="color: rgb(54, 54, 54)"> <strong> Tournaments</strong> </h4>
    <h5 style="color: rgb(105, 102, 102)"> Take Part In Upcoming Tournaments </h5> 
    {% for tournament in tournaments %}
    <div class="card" style="margin-bottom:0.3cm">  
    <div class="d-flex align-items-center">

        <img  height="100" width="100" src="{{tournament.thumbnail_t.url}}">

        <div class="pl-3">
            <h2 class="mb-2 h6 font-weight-bold">
            <a class="text-dark" href="{% url 'blog:tournament_details' tournament.id %}">{{tournament.name}}</a>
            </h2>
            <div class="card-text text-muted">
                <h6>  Starts {{tournament.starts}}, ends {{tournament.ends}}</h6>
            </div>
            <a style="margin-top: 0.1cm;" href="{% url 'blog:tournament_details' tournament.id %}"> view</a>
        </div>

    </div>
</div>
    {% endfor %}

</div>
 </div>
</div>

 
{% endblock content %}