@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: Poppins;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

p {
    font-family: "Poppins";
}

.main-heading {
    margin: 2rem 0rem 2rem 0rem;
}

/* ********************************* Tournaments ****************************** */
.tournament-title {
    color: rgb(34, 34, 34);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}
#tournament-details li {
    list-style: none;
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}
#tournament-details li span {
    margin-left: 0.3rem;
}
#tournaments-cta{
    border-radius: 25px;
    width: 80%;
}
